body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    line-height: 1.6;
    text-align: center;
    background: #373B44;
background: -webkit-linear-gradient(to right, #4286f4, #373B44);
background: linear-gradient(to right, #4286f4, #373B44);
  }
  
  h1 {
    background-color: #ffffff60;
    width:60vw ;
    text-decoration: underline;
    color: white;
    padding: 10px 20px;
    margin: 0 20%;
    font-size: 2rem;
    text-transform: capitalize;
    text-shadow: -2px 3px 17px rgba(33,100,232,1);
    border-radius: 30px;
  }
  

  input#input {
    padding: 10px;
    width: 300px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  button#search {
    padding: 10px 20px;
    background: #373B44;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button#search:hover {
    background: #373B44;
  }
  
  label {
    margin-left: 20px;
    font-size: 1rem;
    color: #fff;
    text-transform: capitalize;
  }
  
  select#sort {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-left: 10px;
    text-transform: capitalize;
  }
  
  ul, .container {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 50px;
    list-style: none;
    padding: 0;
    margin: 20px auto;
    max-width: 90%;
    text-align: left;
  }
  
  ul.container li {
    background: white;
    padding: 20px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  ul.container li strong {
    display: block;
    font-size: 1.1rem;
    color:#373B44;
    margin-bottom: 5px;
  }
  
  
  .footer {
    margin-top: 20px;
    padding: 20px 0;
    color: white;
  }
  
  button.decrease, button.increase {
    padding: 10px 20px;
    background-color: white;
    color: #373B44;
    border: none;
    border-radius: 5px;
    margin: 5px;
    text-transform: capitalize;
    cursor: pointer;
    font-weight: bold;
  }
  
  button.decrease:hover, button.increase:hover {
    background-color: #373B44;
    color: #fff;
  }
  
  @media (max-width: 768px) {
    input#input {
        width: 90%;
    }
  
    ul.container {
        padding: 0 10px;
    }
  }
  